.git
.github
.idea
.pytest_cache
.venv
.env
**/__pycache__
**/*.pyc
data/raw
data/processed
data/chunks
data/embeddings
data/evaluation
data/indexes
docs
notebooks
src/frontend/dist
src/frontend/node_modules
*.md
